@model CoreReport.ViewModels.ReportingViewModel
@{
    ViewBag.Title = "ReportView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<link href="~/CommonDesign/commonBootStrap.css" rel="stylesheet" />
<link href="~/Content/Popup/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Popup/jquery-1.7.1.min.js"></script>
<script src="~/Content/Popup/jquery-ui-1.8.20.min.js"></script>
@using (Html.BeginForm("AspReport", "Reporting", FormMethod.Post, new { @class = "Reporting", target = "_blank" }))
{
    @Html.HiddenFor(x => x.SlNo)
    @Html.HiddenFor(x => x.ReportPath)
    @Html.HiddenFor(x => x.Qryname)
    @Html.HiddenFor(x => x.xmlTableName)
    <h5>@Model.ReportName</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    @foreach (var par in Model.Parameters)
                    {
                        if (par.Key.ToLower().Contains("date"))
                        {
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4">@Html.Label(par.Key)</label>
                                    <div class="col-md-8">

                                        @Html.TextBoxFor(x => x.Parameters[par.Key], "{0: dd MMMM yyyy}", new { @class = " datefrom textBoxsize form-control lrefFrom", placeholder = "Enter Date" })
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div>
                                @Html.Label(par.Key)
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control" })
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Print" formmethod="post" formaction="Reporting/Print" />
                </div>
            </div>
        </div>
    </div>

    <br />

}
@*<a href="@Url.Action("Print", "Reporting", Model.Parameters)">Print</a>*@
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd MM yy',
            yearRange: '1920:' + new Date().getFullYear(),
            changeMonth: true,
            changeYear: true,
        });
    })
</script>